/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
   .bootstrap-vertical-nav .navbar ul {
      float: none;
   }
   .bootstrap-vertical-nav .navbar ul:not {
      display: block;
   }
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;
   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

/* Put any custom CSS you want for your menu when it is collapsed */
@media (max-width: 768px) {
   .bootstrap-vertical-nav {

   }
}

.doc-page {
    display: none;
}

.menu-title {
    margin-top: 10px;
    font-size: 11px;
    color: #bbb;
}

.title {
    font-weight: bold;
    color: #1a75bC;
    font-size: x-large;
    margin-top: 10px;
    margin-bottom: 30px;
}

.nav-item {
    font-size: small;

}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

.page-title {
    margin-top: 100px;
}

.page-title h1 {
    color: #444;
    font-size: 25px;
}

.page-image {
    margin-bottom: 20px;
    margin-top: 20px;
}

.page-image:hover {
    cursor: pointer;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

h2 {
    font-size: x-large;
    margin-top: 30px;
}

.alert {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul {
    margin-bottom: -5px;
}

ol {
    margin-bottom: -5px;
}

pre {
    margin-top: 1rem;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
